@media only screen and (min-width: 0rem) {
  #sbs-1456 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1456 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1456 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-1456 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1456 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1456 .cs-image-group {
    font-size: min(2.23vw, 0.83em);
    width: 40.625em;
    height: 45.5625em;
    position: relative;
  }
  #sbs-1456 .cs-picture {
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-1456 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #sbs-1456 .cs-picture1 {
    border-radius: 6.25em 6.25em 1.5em 6.25em;
    width: 32.625em;
    height: 45.5625em;
    left: 0;
    top: 0;
  }
  #sbs-1456 .cs-picture2 {
    border-radius: 1.5em;
    width: 23.625em;
    height: 28.75em;
    right: 0;
    bottom: 6.25em;
  }
  #sbs-1456 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-background:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 77.21%,
        #fff 96.92%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.88) 0%,
        rgba(255, 255, 255, 0.88) 100%
      );
    pointer-events: none;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-background img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
  }
}
@media only screen and (min-width: 64rem) {
  #sbs-1456 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
  }
  #sbs-1456 .cs-content {
    width: 40%;
    padding: 3rem 0;
    flex: none;
    align-self: center;
  }
  #sbs-1456 .cs-image-group {
    font-size: 1rem;
    width: 50vw;
    max-width: 40.625rem;
    height: auto;
    min-height: clamp(36.25rem, 50vw, 45.5625rem);
    flex: none;
    display: flex;
  }
  #sbs-1456 .cs-picture1 {
    width: 83%;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
  #sbs-1456 .cs-picture2 {
    width: 60%;
    height: 57%;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1456 .cs-title,
  body.dark-mode #sbs-1456 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1456 .cs-title:before,
  body.dark-mode #sbs-1456 .cs-text:before {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1456 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-1456 .cs-background:before {
    background: var(--dark);
  }
}
@media only screen and (min-width: 0rem) {
  #services-1331 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #services-1331 .cs-container {
    width: 100%;
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1331 .cs-topper {
    color: var(--secondary);
  }
  #services-1331 .cs-title,
  #services-1331 .cs-text,
  #services-1331 .cs-h3,
  #services-1331 .cs-item-text {
    color: #fff;
  }
  #services-1331 .cs-text,
  #services-1331 .cs-item-text {
    opacity: 0.8;
  }
  #services-1331 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #services-1331 .cs-flex-group {
    flex: none;
  }
  #services-1331 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1rem;
  }
  #services-1331 .cs-item {
    overflow: hidden;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: clamp(2.5rem, 4.1vw, 3.75rem) clamp(1.25rem, 3.4vw, 3rem);
    background: rgba(255, 255, 255, 0.1);
    grid-column: span 12;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  #services-1331 .cs-item:hover {
    transform: translateY(-1rem);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  }
  #services-1331 .cs-step {
    color: var(--secondary);
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: clamp(3rem, 7.8vw, 6.25rem);
    display: block;
    text-align: inherit;
  }
  #services-1331 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0.75rem;
    transition: color 0.3s;
    text-align: inherit;
  }
  #services-1331 .cs-item-text {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    transition: color 0.3s;
    text-align: inherit;
  }
}
@media only screen and (min-width: 48rem) {
  #services-1331 .cs-container {
    max-width: 80rem;
  }
  #services-1331 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: clamp(3rem, 6vw, 5rem);
    text-align: left;
  }
  #services-1331 .cs-title {
    margin: 0;
  }
  #services-1331 .cs-flex-group {
    width: 50%;
  }
  #services-1331 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
  }
  #services-1331 .cs-item {
    grid-column: span 4;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1331 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #services-1331 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services-1331 .cs-title,
  body.dark-mode #services-1331 .cs-text,
  body.dark-mode #services-1331 .cs-h3,
  body.dark-mode #services-1331 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1331 .cs-text,
  body.dark-mode #services-1331 .cs-item-text {
    opacity: 0.8;
  }
}
@media only screen and (min-width: 0rem) {
  #video-1682 {
    padding: var(--sectionPadding);
    padding-top: 0rem;
    padding-bottom: 0;
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
  }
  #video-1682:before {
    content: "";
    width: 100%;
    height: 40%;
    background: #fff;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-blend-mode: multiply;
  }
  #video-1682 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #video-1682 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #video-1682 .cs-topper,
  #video-1682 .cs-title {
    color: #fff;
  }
  #video-1682 .cs-title {
    margin: 0;
    max-width: 30ch;
  }
  #video-1682 .cs-big-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height: clamp(12.875rem, 63vw, 37.6875rem);
    width: 100%;
    overflow: hidden;
  }
  #video-1682 .cs-big-link:hover .cs-background img {
    transform: scale(1.1);
  }
  #video-1682 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    border-radius: 1rem;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
  }
  #video-1682 .cs-background:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-blend-mode: multiply;
  }
  #video-1682 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #video-1682 .cs-link-icon {
    width: clamp(5rem, 11vw, 6.875rem);
    height: auto;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(10px);
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #video-1682 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #video-1682:before {
    background-color: var(--dark);
  }
}
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #meet-team-1368 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
  }
  #meet-team-1368 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1368 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #meet-team-1368 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #meet-team-1368 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #meet-team-1368 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #meet-team-1368 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #meet-team-1368 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateY(0);
  }
  #meet-team-1368 .cs-item:hover .cs-info {
    color: #fff;
    background-color: var(--primary);
  }
  #meet-team-1368 .cs-item:hover .cs-job {
    opacity: 0.8;
  }
  #meet-team-1368 .cs-picture-wrapper {
    margin-bottom: clamp(0.75rem, 4vw, 1.25rem);
    position: relative;
  }
  #meet-team-1368 .cs-picture {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  #meet-team-1368 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-1368 .cs-info {
    text-align: center;
    padding: clamp(1rem, 1.7vw, 1.5rem);
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    transition: background-color 0.3s;
  }
  #meet-team-1368 .cs-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    margin: 0 0 0.25rem;
    gap: 1rem;
    transition: color 0.3s;
  }
  #meet-team-1368 .cs-job {
    transition: color 0.3s;
  }
  #meet-team-1368 .cs-social {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    right: 50%;
    bottom: 1.5rem;
    z-index: 1;
    transform: translateX(50%);
  }
  #meet-team-1368 .cs-link {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(1rem);
    transition: transform 0.3s, opacity 0.3s;
  }
  #meet-team-1368 .cs-link:hover .cs-icon {
    transform: scale(1.2);
    filter: invert(9%) sepia(52%) saturate(2079%) hue-rotate(188deg)
      brightness(102%) contrast(104%);
  }
  #meet-team-1368 .cs-link:first-of-type,
  #meet-team-1368 .cs-link:last-of-type {
    margin-top: -1.25rem;
  }
  #meet-team-1368 .cs-link:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #meet-team-1368 .cs-link:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #meet-team-1368 .cs-link:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #meet-team-1368 .cs-link:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #meet-team-1368 .cs-icon {
    width: 1.0625rem;
    height: auto;
    transition: transform 0.3s;
  }
  #meet-team-1368 .cs-bubbles {
    width: 22.3125rem;
    height: 29.375rem;
    display: none;
    position: absolute;
    top: 8.75rem;
    right: -7.75rem;
    z-index: -1;
  }
  #meet-team-1368 .cs-bubbles:before {
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: transparent;
    opacity: 1;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #meet-team-1368 .cs-bubbles:after {
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: #001f3f;
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
@media only screen and (min-width: 48rem) {
  #meet-team-1368 .cs-item {
    grid-column: span 6;
  }
  #meet-team-1368 .cs-item:nth-of-type(7) {
    grid-column: span 12;
  }
  #meet-team-1368 .cs-bubbles {
    display: block;
  }
}
@media only screen and (min-width: 64rem) {
  #meet-team-1368 .cs-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #meet-team-1368 .cs-item {
    width: 30vw;
    max-width: 19.0625rem;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-1368 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #meet-team-1368 .cs-title,
  body.dark-mode #meet-team-1368 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-team-1368 .cs-text,
  body.dark-mode #meet-team-1368 .cs-job {
    opacity: 0.8;
  }
  body.dark-mode #meet-team-1368 .cs-info {
    background-color: var(--medium);
  }
  body.dark-mode #meet-team-1368 .cs-bubbles:before {
    border-color: #ffffff;
    box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 44px,
      inset rgba(67, 183, 255, 0.2) 0px 0px 30px,
      inset rgba(67, 183, 255, 0.2) 0px 0px 55px,
      inset rgba(67, 183, 255, 0.4) 0px 0px 75px,
      rgba(67, 183, 255, 0.4) 0px 0px 105px;
  }
  body.dark-mode #meet-team-1368 .cs-bubbles:after {
    background-color: var(--secondary);
  }
}
@media only screen and (min-width: 0rem) {
  #reviews-355 {
    padding: var(--sectionPadding);
    padding-top: 3.125rem;
    position: relative;
    overflow: hidden;
  }
  #reviews-355 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-355 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #reviews-355 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-355 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-355 .cs-quote {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  #reviews-355 .cs-review {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-355 .cs-name {
    font-family: var(--headerFont);
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-355 .cs-location {
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: #767676;
    display: block;
  }
  #reviews-355 .cs-bubbles {
    width: 22.3125rem;
    height: 29.375rem;
    display: none;
    position: absolute;
    bottom: 15.625rem;
    left: -12.25rem;
    z-index: -1;
  }
  #reviews-355 .cs-bubbles:before {
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: transparent;
    opacity: 1;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #reviews-355 .cs-bubbles:after {
    content: "";
    width: 18.375rem;
    height: 18.375rem;
    background: #001f3f;
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
@media only screen and (min-width: 48rem) {
  #reviews-355 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  #reviews-355 .cs-item {
    width: clamp(31.5%, 30vw, 32.3%);
  }
  #reviews-355 .cs-bubbles {
    display: block;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-355 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #reviews-355 .cs-title,
  body.dark-mode #reviews-355 .cs-text,
  body.dark-mode #reviews-355 .cs-location,
  body.dark-mode #reviews-355 .cs-review,
  body.dark-mode #reviews-355 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-355 .cs-item {
    background-color: var(--dark);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  body.dark-mode #reviews-355 .cs-item:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  body.dark-mode #reviews-355 .cs-quote {
    filter: invert(1) brightness(1000%);
  }
  body.dark-mode #reviews-355 .cs-text,
  body.dark-mode #reviews-355 .cs-location {
    opacity: 0.8;
  }
  body.dark-mode #reviews-355 .cs-bubbles:before {
    border-color: #ffffff;
    box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 44px,
      inset rgba(67, 183, 255, 0.2) 0px 0px 30px,
      inset rgba(67, 183, 255, 0.2) 0px 0px 55px,
      inset rgba(67, 183, 255, 0.4) 0px 0px 75px,
      rgba(67, 183, 255, 0.4) 0px 0px 105px;
  }
  body.dark-mode #reviews-355 .cs-bubbles:after {
    background-color: var(--secondary);
  }
}
